
*{
    margin: 0px;
    padding: 0px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar and hero section */

nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 18px;
}

/* banner section */
.banner {
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content {
    height: 379px;
    width: 1360px;
    margin: 154px 341px;
    text-align: center;
    justify-content: center;
}
.heading {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    color: white;   
}
.colored-heading {
    color: #30b868;
}
.heading-text {
    font-weight: 400;
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
}
.banner-button {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.transparent-btn {
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    width: 198px;
    height: 52px;
    border-radius: 4px;
    border-color: white;
}
.early-access-btn {
    background-color: white;
    color: #30b868;
    font-weight: 500;
    font-size: 16;
    padding: 8px 12px;
    border-radius: 1000px;

}
/* note section */
.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px;
    padding: 0 120px;
}
.note-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 50px;
    padding-bottom: 44px;
}
.note-heading h2 {
    font-weight: 600;
    font-size: 48px;
}
.note-heading p {
    font-weight: 300;
    font-size: 14px;
}
.card {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 80px;

}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 220px;

    background-color: #ffffff;
    border-radius: 12px;

    text-align: center;
    padding: 24px;

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
    gap: 16px;

    
}
.card-item h5 {
    font-weight: 500;
    font-size: 24px;
}
.card-item p {
    font-weight: 300;
    font-size: 14px;
}
.card-item img {
    background: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin-bottom: 12px;
}

/* second brain section */
.second-brain {
    display: flex;
    gap: 60px;
    margin: 120px;
}
#brain-image {
    height: 600px;
    width: 600px;
}
#top-writing {
    color: #30b868;
    font-weight: 400;
    font-size: 16;
}

.second-brain-content {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 24px;
    justify-content: center;
}
.second-brain-content h2 {
    font-weight: 600;
    font-size: 48px;
}
.second-brain-content p {
    font-weight: 300;
    font-size: 14;
}
.check-item {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.check-list {
    margin-top: 40px;
}

/* early access section */
.early-access-section h4 {
    font-weight: 600;
    font-size: 40px;
}
.early-access-section p {
    font-weight: 300;
    font-size: 16;
    text-align: center;
}
.early-access-section {
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 120px 120px 120px;
}

/* footer section */
.footer {
    background-color: #001931;
    padding: 120px 120px 30px 120px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}
.footer-begaining {
    display: flex;
    justify-content: space-between;

}
.social-link-part p {
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.footer-ending {
    width: 1360px;
    padding-top: 30px;
    border-top: 2px dotted #E5E7EB;
}
.footer-ending p {
    font-weight: 300;
    font-size: 16;
    color: white;
    text-align: center;
}
.social-icon {
    display: flex;
    justify-content: space-between;
}
.social-icon a {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.social-link-part {
    display: flex;
    flex-direction: column;
    
    gap: 16px;
}
/* Shared style */

.btn {
    background-color: #30b868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    height: 52px;
    display: flex;
    align-items: center;
}